<tr data-username=<%- row_username %> data-date=<%- row_date %>>
  <td class="username"><%- row_username %></td>
  <td class="date"><%- row_date %></td>
  <td class="stime"><%- stimeHM %></td>
  <td class="ftime"><%- ftimeHM %></td>
  <td class="comment"><%- row_comment %></td>
</tr>