<tr data-username=<%- row_username %> data-date=<%- row_date %>>
  <td class="username"><%- row_username %></td>
  <td class="date"><%- row_date %></td>
  <td class="stime"><%- stimeHM %></td>
  <td class="ftime"><%- ftimeHM %></td>
  <td class="comment"><%- row_comment %></td>
  <td>
    <form action="/edit" method=GET>
      <input type="hidden" name="username" value=<%- row_username %>>
      <input type="hidden" name="date" value=<%- row_date %>>
      <input type="hidden" name="stime" value=<%- stimeHM %>>
      <input type="hidden" name="ftime" value=<%- ftimeHM %>>
      <input type="hidden" name="comment" value=<%- row_comment %>>
      <button type="submit">変更</button>
    </form>
  </td>
  <td>
    <form action="/delete" method=POST>
      <input type="hidden" name="username" value=<%- row_username %>>
      <input type="hidden" name="date" value=<%- row_date %>>
      <button type="submit">削除</button>
    </form>
  </td>
</tr>